<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Canary Github</title>
</head>

<body>
    <form action="{% url 'link_github' %}" method='get'>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <br />
        <br />
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <br />
        <br />
        <label for="password">Password:</label>
        <input type="text" id="password" name="password">

        <button type="submit">Register</button>
    </form>
</body>

</html>